html {
  font-size: 18px;
}

body {
  font-family: helvetica;
}
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

/*Logo and Navigation bar*/
header {
  display: flex;
  margin: 0 auto;
  /*border: 1px solid black;*/
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.logo {
  display: inline-block;
  align-items: center;
  /*border: 1px solid black;*/
  font-size: 1rem;
}

.logo-pic {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
  /*border: 1px solid black;*/
}
.navigation {
  display: flex;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 100%;
  margin: 1rem auto 0 auto;
  /*border: 1px solid black;*/
  align-items: center;

}
.nav {
  display: block;
  flex-grow: 1;
  text-align: right;

    /*border: 1px solid black;*/
}

.buttons {
  display: inline-block;
  align-items: flex-end;
  /*border: 1px solid black;*/
  padding-right: 2rem;

}

.container-two {
  max-width: 1032px;
  width: 100%;
  margin: 0 auto;
  /*border: 2px solid blue;*/
  display: block;
  height: 20rem;
}

.motto {
  /*border: 1px solid black;*/
  color: black;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10rem;
  width: 25rem;
  float: right;
}

/*icons*/

.icons {
  display: flex;
  align-items: center;
  justify-content: center;


  color: black;
  margin: 0 auto;
  /*border: 1px solid red;*/
  height: 13rem;
  max-width: 960px;
  width: 100%;


}

.exams {
  display: block;
  align-items: center;
  /*padding: 3rem 0rem;*/
  /*border: 1px solid blue;*/
}

.exams img {
  display: block;
  padding: 3rem 0 1rem 2rem;
  /*border: 1px solid green;*/
  height: 4rem;
  width: 3rem;

}

 .exams p {
  /*display: block;*/
  /*border: 1px solid black;*/
  width: 7rem;
  text-align: center;
  line-height: 1.4rem;

}

.fittings {
  display: block;
  align-items: center;
  /*padding: 3rem 6rem;*/
  /*border: 1px solid blue;*/
}

.fittings img {
  display: block;
  padding: 3rem 6rem 2rem 6rem;
  /*border: 1px solid green;*/
  height: 3rem;
  width: 4rem;

}

.fittings p {
  display: block;
  /*border: 1px solid black;*/
  width: 4rem;
  text-align: center;
  line-height: 1.4rem;
  padding: 0 6rem;
}

.delivery {
  display: block;
  align-items: center;
  /*padding: 3rem 0rem;*/
}

.delivery img {
  display: block;
  /*padding: 3rem;*/
  /*border: 1px solid black;*/
  height: 3rem;
  width: 4rem;
  padding: 3rem 0 1rem 0;


}

.delivery p {
  display: block;
  /*border: 1px solid black;*/
  width: 4rem;
  text-align: center;
  line-height: 1.4rem;
}

/*Philosophy and Appointments*/
.information {
  display: flex;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.philosophy {
  display: inline-block;
  border: 1px solid black;

}

.appointments {
  display: inline-block;
  border: 1px solid black;

}

.title {
  border: 1px solid black;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.paragraph {
  border: 1px solid black;
}

/*footer*/

.footer {
  display: block;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: azure;
  color: black;
  padding: 4rem 0;
  align-items: center;


}

.logo-pic-footer {
  padding-left: 3rem;
  border: 1px solid black;
}

.copyright {
  display: inline-block;
  border: 1px solid black;
}
